
* {
    box-sizing: border-box;
    color: #8D0000;
    margin: 0%;
    padding: 0%;
  }
  body{
    background-color: transparent;
  }
  .wrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, [col-start] 4fr);
    grid-template-rows: repeat(16, [row-start] 4fr);
    gap: .8rem;
    padding: .6rem;
    
  }

  .back{
    background-color: #FF0000;
    width: 100vw;
    height: 100vh;
    z-index: -3;
  }

  /* all the landmarks */

  .landmark-div {
    position: absolute;
    transform: translate(-50%, -50%); /* Center the div at the wrist position */
  }
  
  .wrapper > * {
    padding: 5px;
  }

  .popup{
    /* position: fixed; */
    position: absolute;
    background-color: #8D0000;
    text-align: center;
    justify-content: center;
    grid-column: col-start 3 / span 2;
    padding: .5em;
    grid-row: 6;
  }
  #got-it{
    color: #FF0000;
  }

  .large-text{
    font: 1.95em Helvetica, arial, sans-serif;
  }
  .large-text-light{
    font: 1.95em Helvetica, arial, sans-serif;
    color: #FF0000;
  }
  .small-text{
    font: 1em Helvetica, arial, sans-serif;
  }
  a{
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline dashed ;
    text-underline-offset: .15em;
  }
  a.no-underline:hover{
    text-decoration: none;
  }

  span{
    text-decoration: none;
  }
  span:hover{
    text-decoration: underline dashed ;
    text-underline-offset: .15em;
  }

  .header-1{
    grid-column: col-start 1 / span 1;
    grid-row: 1 / 1;
  }
  .header-2{
    grid-column: col-start 3 / span 1;
    grid-row: 1 / 1;
  }
  .header-3{
    grid-column: col-start 6 / span 1;
    grid-row: 1 / 1;
    text-align: right;
  }

    /* Preview */
    .content-header-1{
        grid-column: col-start 1 / span 1;
        grid-row: 2 ;
    }
            .img-1{
                grid-column: col-start 1 / span 1;
                grid-row: 3 / 6;
            }
            .img-2{
                grid-column: col-start 1 / span 1;
                grid-row: 6/ 9;
            }
            .img-3{
                grid-column: col-start 1 / span 1;
                grid-row: 9 / 12;
            }
            .img-4{
                grid-column: col-start 1 / span 1;
                grid-row: 12 / 15;
            }

/* Movement */
  .content-header-2{
    grid-column: col-start 3 / span 2;
    grid-row: 2 ;
    display: block;
  }
  .content-header-2-mobile{
    grid-column: col-start 3 / span 2;
    grid-row: 2 ;
    display: none;
  }
            .movement-video{
                background-color: transparent;
                grid-column: col-start 3 / span 3;
                grid-row: 3 / 16 ;
            }

            .content-info{
                grid-column: col-start 3 / span 3;
                grid-row: 3 / 16 ;
            }

  .content-header-3{
    grid-column: col-start 5 / span 1;
    grid-row: 2 ;
    text-align: right;
    z-index: 2;
  }

            canvas {
                width: 100vw;  /* Set width to 100% of the viewport width */
                height: 120vh; /* Set height to 100% of the viewport height */
                position: fixed;
                margin: 0%;
                padding: 0em;
                left: 0em;
                top: 0em;
                z-index: -2;
             }
            video{
                display: none;
            }


  .content-header-4{
    grid-column: col-start 6 / span 1;
    grid-row: 2 ;
    text-align: right;
    display: block;
  }
  .content-header-4-mobile{
    grid-column: col-start 6 / span 1;
    grid-row: 2 ;
    text-align: right;
    display: none;
  }

  .content-footer-1{
    grid-column: col-start 1 / span 1;
    grid-row: 15 ;
    text-align-last: justify;
    vertical-align: bottom;
  }
  .content-footer-2{
    grid-column: col-start 1 / span 1;
    grid-row: 16 ;
    text-align-last: justify;
    vertical-align: bottom;
  }
  .content-footer-3{
    grid-column: col-start 3 / span 2;
    grid-row: 16 ;
  }
  .content-footer-4{
    grid-column: col-start 5 / span 2;
    grid-row: 16 ;
    text-align: right;
  }

  .content-footer-4b{
    grid-column: col-start 5 / span 2;
    grid-row: 16 ;
    text-align: right;
  }


  
  @media (max-width: 1070px) {

    .wrapper {
        height: 100vh;
        width: 100vw;
        position: fixed;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(6, [col-start] 4fr);
        grid-template-rows: repeat(16, [row-start] 4fr);
        gap: .6rem;
        padding: .6rem;
      }

      .popup{
        /* position: fixed; */
        position: absolute;
        background-color: #8D0000;
        text-align: center;
        justify-content: center;
        grid-column: col-start 2 / span 4;
        padding: .5em;
        grid-row: 4 / 6;
      }

      .header-1{
        grid-column: col-start 1 / span 2;
        grid-row: 1 / 1;
      }

      .header-2{
        grid-column: col-start 3 / span 3;
        grid-row: 1 / 1;
      }

      .header-3{
        grid-column: col-start 6 / span 1;
        grid-row: 1 / 1;
        text-align: right;
      }

    /* Preview */
    .content-header-1{
        grid-column: col-start 2 / span 4;
        grid-row: 13 / 16 ;
        display: none;
    }
            .img-1{
                grid-column: col-start 2 / span 1;
                grid-row: 14 / 16;
                vertical-align: bottom;
                padding: 0%;
                
            }
            .img-2{
                grid-column: col-start 3 / span 1;
                grid-row: 14 / 16;
                vertical-align: bottom;
               padding: 0%;
                
            }
            .img-3{
                grid-column: col-start 4 / span 1;
                grid-row: 14 / 16;
                padding: 0%;
                vertical-align: bottom;
            }
            .img-4{
                grid-column: col-start 5 / span 1;
                grid-row: 14 / 16;
                vertical-align: bottom;
                padding: 0%;
               
            }

.content-header-2{
    display: none;
}
.content-header-2-mobile{
    grid-column: col-start 1 / span 2;
    grid-row: 2 ;
    display: block;
  }
        .movement-video{
            background-color: transparent;
            grid-column: col-start 2 / span 4;
            grid-row: 3 / 14 ;
        }
            
        .content-info{
            grid-column: col-start 1 / span 6;
            grid-row: 3 / 15 ;
        }

 .content-header-3{
    grid-column: col-start 1 / span 1;
    grid-row: 2 ;
    text-align: left;
    z-index: 2;
 }
            
                        canvas {
                            width: 100vw;  /* Set width to 100% of the viewport width */
                            height: 100vh; /* Set height to 100% of the viewport height */
                            position: fixed;
                            margin: 0%;
                            padding: 0em;
                            left: 0em;
                            top: 0em;
                            z-index: -2;
                         }
                        video{
                            display: none;
                        }
            

  .content-header-4{
    display: none;
  }

  .content-header-4-mobile{
    grid-column: col-start 6 / span 1;
    grid-row: 2 ;
    text-align: right;
    display: block;
  }

  .content-footer-1{
    grid-column: col-start 1 / span 6;
    grid-row: 15 ;
    text-align-last: justify;
    vertical-align: bottom;
  }
  .content-footer-2{
    grid-column: col-start 1 / span 6;
    grid-row: 16 ;
    text-align-last: justify;
    vertical-align: bottom;
  }
  .content-footer-3{
    display: none;
  }
  .content-footer-4{
    grid-column: col-start 5 / span 2;
    grid-row: 2 ;
    text-align: right;
  }

  .content-footer-4b{
    grid-column: col-start 5 / span 2;
    grid-row: 12 ;
    text-align: right;
  }

  }

  /* movement */

  .img-1-A{
    grid-column: col-start 2 / span 1;
    grid-row: 3 / 5;
    vertical-align: bottom;
    padding: 0%;
    
}
.img-2-A{
    grid-column: col-start 3 / span 1;
    grid-row: 3 / 5;
    vertical-align: bottom;
   padding: 0%;
    
}
.img-3-A{
    grid-column: col-start 4 / span 1;
    grid-row: 3 / 5;
    padding: 0%;
    vertical-align: bottom;
}
.img-4-A{
    grid-column: col-start 5 / span 1;
    grid-row: 3 / 5;
    vertical-align: bottom;
    padding: 0%;
   
}

.img-2-B{
    grid-column: col-start 3 / span 1;
    grid-row: 5 / 7;
    vertical-align: bottom;
   padding: 0%;
    
}
.img-3-B{
    grid-column: col-start 4 / span 1;
    grid-row: 5 / 7;
    padding: 0%;
    vertical-align: bottom;
}

.img-2-C{
    grid-column: col-start 3 / span 1;
    grid-row: 7 / 9;
    vertical-align: bottom;
   padding: 0%;
    
}
.img-3-C{
    grid-column: col-start 4 / span 1;
    grid-row: 7 / 9;
    padding: 0%;
    vertical-align: bottom;
}

.img-2-D{
    grid-column: col-start 3 / span 1;
    grid-row: 9 / 11;
    vertical-align: bottom;
   padding: 0%;
    
}
.img-3-D{
    grid-column: col-start 4 / span 1;
    grid-row: 9 / 11;
    padding: 0%;
    vertical-align: bottom;
}

.img-2-E{
    grid-column: col-start 3 / span 1;
    grid-row: 11 / 13;
    vertical-align: bottom;
   padding: 0%;
    
}
.img-3-E{
    grid-column: col-start 4 / span 1;
    grid-row: 11 / 13;
    padding: 0%;
    vertical-align: bottom;
}

  .content-footer-2-m{
    grid-column: col-start 1 / span 6;
    grid-row: 16 ;
    text-align-last: justify;
    vertical-align: bottom;
  }

  .content-footer-1-m-1{
    grid-column: col-start 1 / span 6;
    grid-row: 4 ;
    text-align-last: justify;
    vertical-align: bottom;
  }

  .content-footer-1-m-2{
    grid-column: col-start 1 / span 6;
    grid-row: 6 ;
    text-align-last: justify;
    vertical-align: bottom;
  }

  .content-footer-1-m-3{
    grid-column: col-start 1 / span 6;
    grid-row: 8 ;
    text-align-last: justify;
    vertical-align: bottom;
  }

  .content-footer-1-m-4{
    grid-column: col-start 1 / span 6;
    grid-row: 10 ;
    text-align-last: justify;
    vertical-align: bottom;
  }

  .content-footer-1-m-5{
    grid-column: col-start 1 / span 6;
    grid-row: 12 ;
    text-align-last: justify;
    vertical-align: bottom;
  }

  .content-footer-4c{
    grid-column: col-start 6 / span 1;
    grid-row: 2 ;
    text-align: right;
  }

  .content-header-1a{
    grid-column: col-start 1 / span 4;
    grid-row: 2 ;
}






